body, html {
  height:100%;
}

body {
  margin: 0px;
  font-size: 18px;
  background-size: cover;
<<<<<<< HEAD
  background-image: url('src/images/dancefloor.jpg');
  background-repeat: no-repeat;
=======
  background-image: url('src/dancefloor.jpg');
  background-repeat: no-repeat;

>>>>>>> 43b07b5bdc1ba693988b2d51a7a74de2246d750d
}

body, a:link, a:visited, a:active {
  color: black;
}

<<<<<<< HEAD
.title, .blinkyDancerButton, .breakyDancerButton, .jumpyDancerButton, .grumpyDancerButton, .squigglyDancerButton, .lineupDancersButton {
=======
.title, .blinkyDancerButton, .breakyDancerButton, .jumpyDancerButton {
>>>>>>> 43b07b5bdc1ba693988b2d51a7a74de2246d750d
  background-color: #fe7200;
  padding:5px 12px;
  float:right;
  font-family: Arial; 
}

.topbar {
  height:32px;
  background-color: #fe7200;
  display: inline;
}

.title {
  background-color: #fe7200;
<<<<<<< HEAD
  /*display: inline;
  float: left;*/
}

.dancer {
/*  border:10px solid red;
  border-radius:10px;*/
  /*position:absolute;*/
}

.breakyDancer {
  background-image: url('src/images/breaky.png');
  height: 275px;
  width: 260px;
  position: absolute;
}

.blinkyDancer {
  background-image: url('src/images/croppedPolar.png');  
  height: 550px;
  width: 240px;
  background-repeat: no-repeat;
  position: absolute;
  }

.jumpyDancer {
  background-image: url('src/images/kanga.png');
  background-image: no-repeat;
  height: 333px;
  width: 200px;
  position:absolute;
}

.grumpyDancer {
  background-image: url('src/images/grumpy.png');
  background-image: no-repeat;
  height: 95px;
  width: 85px;
  position:absolute;
}

.squigglyDancer {
  background-image: url('src/images/squidward.gif');
  background-image: no-repeat;
  height: 270px;
  width: 270px;
  position:absolute;
}

.img-hor-vert {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}



=======
}

.dancer {
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.breakyDancer {
  border:10px solid white;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer {
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}

.jumpyDancer {
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}
>>>>>>> 43b07b5bdc1ba693988b2d51a7a74de2246d750d
